[build]
  base = ""            # Because this file is already inside the frontend folder
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

